<!DOCTYPE html>
<html>
  <head>
    <title>Cancer Gene Trust</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="underscore-min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
		<style>
		.navbar-brand
		{
				position: absolute;
				width: 100%;
				text-align: center;
		}
	</style>
  </head>
  <body>
    <div id="progressDialog" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <strong id="progress"></strong>
          </div>
        </div>
      </div>
    </div>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div id="title" class="navbar-brand" href="#"></div>

				<div class="navbar-header">
					<a class="navbar-brand" href="http://www.cancergenetrust.org">
						<img src="images/logo_with_name.png" style="padding-left: 8px; height: 28px;">
					</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
          <li><a href="api#/default"><span class="glyphicon glyphicon-cog"></span></a></li>
				</ul>
			</div>
		</nav>

    <div id="steward"></div>

    <script type="text/html" id="steward-template">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Domain</h3>
				</div>
				<div class="panel-body">
          <h4><%= steward.domain %></h4>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Peers</h3>
				</div>
        <ul class="list-group">
        <% _.each(steward.peers, function(peer) { %>
          <li class="list-group-item"><h4>
            <a href="index.html?steward=<%= peer %>">
                <%= peer %>
            </a>
          </h4></li>
        <% }) %>
        </ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Submissions</h3>
				</div>
        <ul class="list-group">
        <% _.each(steward.submissions, function(submission) { %>
          <li class="list-group-item"><h4>
            <a href="index.html?submission=<%= submission %>">
                <%= submission %>
            </a>
          </h4></li>
        <% }) %>
        </ul>
			</div>
    </script>

    <div id="submission"></div>

    <script type="text/html" id="submission-template">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Files</h3>
				</div>
        <ul class="list-group">
        <% _.each(files, function(file) { %>
          <li class="list-group-item"><h4>
          <a class="font-weight-bold m-r-8" href="/ipfs/<%= file.multihash %>"><%= file.name %></a>
					<% if (file.name.endsWith('.vcf')) { %>
          &nbsp;
          <a class="font-weight-bold m-r-8"
          href="http://genome.ucsc.edu/cgi-bin/hgTracks?hgt.customText=http://<%=
          window.location.host + '/ipfs/' + file.multihash %>">View In Browser</a>
					<% } %>
          </h4></li>
        <% }) %>
        </ul>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Fields</h3>
				</div>
        <ul class="list-group">
        <% _.each(fields, function(value, key, object) { %>
          <li class="list-group-item"><h4>
          <%= key.charAt(0).toUpperCase() + key.slice(1) %>: <%= value %>
          </h4></li>
        </ul>
        <% }) %>
    </script>

  </body>
</html>
