<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>CGT Transaction</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="style.css">
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="underscore-min.js"></script>
</head>
<body>

<div class="container">
<img class="center-block" src="banner.jpg" />
<h1 class="text-info">CGT Transaction</h1>

<div id="fields-list" class="list-group">
</div>

</div>
</body>

<script type="text/html" id="fields-list-template">
<% _.each(fields, function(value, key, object) { %>
  <li class="list-group-item"><h4>
  <%= key.charAt(0).toUpperCase() + key.slice(1) %>: <%= value %>
  </h4></li>
<% }) %>
</script>
<script>
var fieldsListTemplate = _.template($("#fields-list-template").html());

$.getJSON("/v0/transactions/" + location.search.split('transactionHash=')[1], function(data) {
  $("#fields-list").html(fieldsListTemplate({fields: data.transaction}));
});
</script>

</html>
