<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
    <title>CGT {{ title }}</title>
    {% else %}
    <title>Cancer Gene Trust</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="underscore-min.js"></script>
  </head>
  <body>
    <div id="progressDialog" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <strong id="progress"></strong>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container">
      <ul class="nav nav-pills">
        <li {% if request.path == '/stewards.html' or request.path == '/' %}class="active"{% endif %}>
          <a href="stewards.html"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a>
        </li>
        <li {% if request.path == '/add.html' %}class="active"{% endif %}>
          <a href="add.html"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
        </li>
        <li role="presentation">
          <a href="/api#/default"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></a>
        </li>
        <a href="http://www.cancergenetrust.org" class="vertical-center pull-right">
          <img src="cgt_logo_horizontal.svg" style="height: 48px;">
        </a>
      </ul>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
