{% extends "base.html" %}
{% block content %}
<div id="steward"></div>

<script type="text/html" id="steward-template">
<h3><%= steward.domain %></h3>
<h4>Submissions</h4>
<ul class="list-group">
<% _.each(steward.submissions, function(submission) { %>
  <li class="list-group-item"><h4>
    <a href="/submission.html?multihash=<%= submission %>">
        <%= submission %>
    </a>
  </h4></li>
<% }) %>
</ul>
</script>

<script>
var stewardTemplate = _.template($("#steward-template").html());
$("#progressDialog").modal("show");
$("#progress").html("Finding and authenticating steward index...");
$.getJSON("/v0/stewards/" + location.search.split('address=')[1], function(steward) {
    $("#progressDialog").modal("hide");
    $("#steward").html(stewardTemplate({steward: steward}));
});
</script>
{% endblock %}
