{% extends "base.html" %}
{% block content %}
<h3>Stewards</h3>
<ul id="stewards-list" class="list-group">
</ul>

<script type="text/html" id="stewards-list-template">
<% _.each(stewards, function(steward, address) { %>
  <li class="list-group-item"><h4>
    <a href="/steward.html?address=<%= address %>">
        <%= steward.domain %>
    </a>
    <% if (steward.peers.length > 0) { %>
        peers:
        <% _.each(steward.peers, function(peer) { %>
            <a href="/steward.html?address=<%= peer %>">
                <%= stewards[peer].domain %>
            </a>
        <% }) %>
    <% } %>
    <span class="badge"><%= steward.submissions.length %></span>
  </h4></li>
<% }) %>
</script>
<script>
var stewardsListTemplate = _.template($("#stewards-list-template").html());
$("#progressDialog").modal("show");
$("#progress").html("Finding and authenticating stewards...");
$.getJSON("/v0/stewards", function(stewards) {
  $("#progressDialog").modal("hide");
  if (stewards.length == 0) {
    alert("No stewards found");
  } else {
    $("#stewards-list").html(stewardsListTemplate({stewards: stewards}));
  }
});
</script>
{% endblock %}
