{% extends "base.html" %}
{% block content %}
<div id="fields-list">
</div>

<p/>

<div id="files-list" class="list-group">
</div>

<script type="text/html" id="fields-list-template">
<% _.each(fields, function(value, key, object) { %>
  <li class="list-group-item"><h4>
  <%= key.charAt(0).toUpperCase() + key.slice(1) %>: <%= value %>
  </h4></li>
<% }) %>
</script>

<script type="text/html" id="files-list-template">
<% _.each(files, function(file) { %>
  <li class="list-group-item"><h4>
  <a class="font-weight-bold m-r-8" href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&hgt.customText=http://ipfs.io<%= file.path %>">UCSC</a>
  <a class="font-weight-bold m-r-8" href="http://ipfs.io<%= file.path %>"><%= file.name %></a>
  </h4></li>
<% }) %>
</script>
<script>
var fieldsListTemplate = _.template($("#fields-list-template").html());
var filesListTemplate = _.template($("#files-list-template").html());

$.getJSON("http://ipfs.io" + location.search.split('path=')[1], function(data) {
<!-- $.getJSON("http://" + window.location.hostname + ":8080" + location.search.split('path=')[1], function(data) { -->
  delete data.fields.__ajax; // FIX: Remove this, should sort in original form
  $("#fields-list").html(fieldsListTemplate({fields: data.fields}));
  $("#files-list").html(filesListTemplate({files: data.files}));
});
</script>
{% endblock %}
