{% extends "base.html" %}
{% block content %}

<div id="submission">
</div>

<script type="text/html" id="submission-template">
<% _.each(files, function(file) { %>
  <li class="list-group-item"><h4>
  <a class="font-weight-bold m-r-8" href="http://genome.ucsc.edu/cgi-bin/hgTracks?db=hg19&hgt.customText=http://<%= window.location.host + '/data/' + file.multihash %>">UCSC</a>
  <a class="font-weight-bold m-r-8" href="/data/<%= file.multihash %>"><%= file.name %></a>
  </h4></li>
<% }) %>

<% _.each(fields, function(value, key, object) { %>
  <li class="list-group-item"><h4>
  <%= key.charAt(0).toUpperCase() + key.slice(1) %>: <%= value %>
  </h4></li>
<% }) %>
</script>

<script>
var submissionTemplate = _.template($("#submission-template").html());
$.getJSON("/data/" + location.search.split('multihash=')[1], function(submission) {
  $("#submission").html(submissionTemplate({fields: submission.fields, files: submission.files}));
});
</script>
{% endblock %}
