{% extends "base.html" %}
{% block content %}
<h3>Steward</h3>
<div id="steward"></div>

<script type="text/html" id="steward-template">
<ul class="list-group">
<% _.each(steward.submissions, function(submission) { %>
  <li class="list-group-item"><h4>
    <a class="font-weight-bold m-r-8" href="/submission.html?multihash=<%= submission %>">
        <%= submission.slice(-5).toUpperCase() %>
    </a>
    <a class="font-weight-bold m-r-8" href="/data/<%= submission %>">Raw</a>
  </h4></li>
<% }) %>
</ul>
</script>

<script>
var stewardTemplate = _.template($("#steward-template").html());
$("#progressDialog").modal("show");
$("#progress").html("Finding and authenticating steward record...");
$.getJSON("/data/" + location.search.split('multihash=')[1], function(steward) {
    $("#progressDialog").modal("hide");
    $("#steward").html(stewardTemplate({steward: steward}));
});
</script>
{% endblock %}
