{% extends "base.html" %}
{% block content %}
<ul id="submissions-list" class="list-group">
</ul>

<script type="text/html" id="submissions-list-template">
<% _.each(submissions, function(submission) { %>
  <li class="list-group-item"><h4>
    <a class="font-weight-bold m-r-8" href="/submission.html?path=<%= submission %>"><%= submission %></a>
  </h4></li>
<% }) %>
</script>
<script>
var submissionsListTemplate = _.template($("#submissions-list-template").html());
$.getJSON("/v0/submissions", function(data) {
  if (data.submissions.length == 0) {
    alert("No Submissions Found");
  } else {
    $("#submissions-list").html(submissionsListTemplate({submissions: data.submissions}));
  }
});
</script>
{% endblock %}
