{% extends "base.html" %}
{% block content %}
<h3>Submissions</h3>
<ul id="submissions-list" class="list-group">
</ul>

<script type="text/html" id="submissions-list-template">
<% _.each(submissions, function(submission) { %>
  <li class="list-group-item"><h4>
    <a class="font-weight-bold m-r-8" href="/submission.html?multihash=<%= submission %>">
        <%= submission.slice(-5).toUpperCase() %>
    </a>
    <a class="font-weight-bold m-r-8" href="/data/<%= submission %>">Raw</a>
  </h4></li>
<% }) %>
</script>
<script>
var submissionsListTemplate = _.template($("#submissions-list-template").html());
$("#progressDialog").modal("show");
$("#progress").html("Finding and authenticating submissions...");
$.getJSON("/v0/submissions", function(data) {
  $("#progressDialog").modal("hide");
  if (data.submissions.length == 0) {
    alert("No Submissions Found");
  } else {
    $("#submissions-list").html(submissionsListTemplate({submissions: data.submissions}));
  }
});
</script>
{% endblock %}
